In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
sales = pd.read_csv('./data/sales.csv', header=0)

In [20]:
sales.head()

        Дата                 Артель     Плата
0 2048-01-01         Каша из топора  10208.64
1 2048-01-01             Бабки Ёжки  21961.11
2 2048-01-01  Хоббитонские угощения   6905.58
3 2048-01-01          Дырявый котёл   4571.70
4 2048-01-01             Ёлки-палки  15124.69

In [19]:
sales.Дата = pd.to_datetime(sales.Дата)

In [22]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1304 entries, 0 to 1303
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Дата    1304 non-null   datetime64[ns]
 1   Артель  1304 non-null   object
 2   Плата   1304 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 30.7+ KB

In [24]:
companies_by_months = sales.pivot_table('Плата', 'Артель', sales.Дата.dt.to_period('M'), aggfunc='sum')

In [25]:
companies_by_months.head()

Дата,2048-01,2048-02,2048-03,2048-04,2048-05,2048-06,2048-07,2048-08,2048-09,2048-10,2048-11,2048-12
Артель,,,,,,,,,,,,
Ёлки-палки,161708.44,201231.7,137177.13,145222.75,297567.24,192255.49,234615.00,76053.25,113950.56,275922.32,264820.57,177556.71
Алхимик,NaN,NaN,NaN,17064.38,NaN,NaN,NaN,9254.62,NaN,3218.88,NaN,NaN
Ангрист,NaN,15669.7,NaN,21535.14,NaN,NaN,16146.71,NaN,NaN,NaN,NaN,NaN
Ангуирел,NaN,NaN,NaN,NaN,31993.35,NaN,33926.74,NaN,NaN,NaN,NaN,NaN
Баба Яга,NaN,NaN,NaN,NaN,NaN,NaN,7074.59,NaN,NaN,NaN,NaN,5707.15

In [26]:
companies_by_months.to_csv('companies_by_months.csv', index=False)