In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
import mysql.connector

In [42]:
sql_query = '''
    SELECT
        *
    FROM
        sales 
        INNER JOIN companies USING(Артель)
        INNER JOIN chaebols USING(Артель)
        INNER JOIN industries USING(Товар) 
        INNER JOIN regions USING(Град)
'''

In [60]:
from config import mysql_qm 
with mysql.connector.connect(
            host = mysql_qm['host'],
            user = mysql_qm['user'], 
            password = mysql_qm['password'],
            database = 'kvadromash_delete'
            ) as connection:
    df = pd.read_sql(sql_query, connection)

C:\Users\Боря\AppData\Local\Temp\ipykernel_11648\423636247.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, connection)

In [62]:
df = df[['Дата', 'Плата', 'Артель', 'Чеболь', 'Товар', 'Промысел', 'Град', 'Царство', ]]

In [64]:
df.Дата = pd.to_datetime(df.Дата)

In [66]:
df.head()

,Дата,Плата,Артель,Чеболь,Товар,Промысел,Град,Царство
0,2048-01-01,10208.64,Каша из топора,Дуремар,веган,яства,Пушград,Лукоморье
1,2048-01-01,21961.11,Бабки Ёжки,Синдбад,порошки,зелья,Пушград,Лукоморье
2,2048-01-01,6905.58,Хоббитонские угощения,Синдбад,сласти,яства,Пушград,Лукоморье
3,2048-01-01,4571.70,Дырявый котёл,Дуремар,киселя,яства,Лукоморск,Лукоморье
4,2048-01-01,15124.69,Ёлки-палки,Синдбад,палочки,артефакторика,Тумантархан,Тмутаракань

In [97]:
cube = df.groupby(['Чеболь', 'Промысел', 'Царство', ]).Плата.sum().round(2).reset_index()

In [99]:
cube.to_csv('cube.csv', index=False)

In [ ]:
companies_by_months = sales.pivot_table('Плата', 'Артель', sales.Дата.dt.to_period('M'), aggfunc='sum').reset_index()
companies_by_months.head()
companies_by_months.to_csv('companies_by_months.csv', index=False)

Проблема с мерцанием экрана: Settings Editor → Notebook → Windowing mode - Defer