In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import psycopg2

In [97]:
from config import postgresql_home 
with psycopg2.connect(
            host = postgresql_home['host'],
            user = postgresql_home['user'], 
            password = postgresql_home['password'],
            database = 'competition_analysis'
            ) as connection:
    sales = pd.read_sql('SELECT * FROM sales', connection)

C:\Users\Боря\AppData\Local\Temp\ipykernel_8616\3356721468.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales = pd.read_sql('SELECT * FROM sales', connection)

In [99]:
sales.head()

         Дата                 Артель     Плата
0  2048-01-01         Каша из топора  10208.64
1  2048-01-01             Бабки Ёжки  21961.11
2  2048-01-01  Хоббитонские угощения   6905.58
3  2048-01-01          Дырявый котёл   4571.70
4  2048-01-01             Ёлки-палки  15124.69